In [1]:
import sys
sys.path.append("..")

In [5]:
from pathlib import Path

from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets
import matplotlib.pyplot as plt


from data import read_data

In [19]:
path = Path("../../data/raw_data/datatraining.txt")
training_df = read_data(path)
path = Path("../../data/raw_data/datatest2.txt")
test_df = read_data(path)

In [10]:
training_df.describe()

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
count,8143.000000,8143.000000,8143.000000,8143.000000,8143.000000,8143.000000
mean,20.619084,25.731507,119.519375,606.546243,0.003863,0.212330
std,1.016916,5.531211,194.755805,314.320877,0.000852,0.408982
min,19.000000,16.745000,0.000000,412.750000,0.002674,0.000000
25%,19.700000,20.200000,0.000000,439.000000,0.003078,0.000000
50%,20.390000,26.222500,0.000000,453.500000,0.003801,0.000000
75%,21.390000,30.533333,256.375000,638.833333,0.004352,0.000000
max,23.180000,39.117500,1546.333333,2028.500000,0.006476,1.000000

In [20]:
test_df.describe()

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
count,9752.000000,9752.000000,9752.000000,9752.000000,9752.000000,9752.000000
mean,21.001768,29.891910,123.067930,753.224832,0.004589,0.210111
std,1.020693,3.952844,208.221275,297.096114,0.000531,0.407408
min,19.500000,21.865000,0.000000,484.666667,0.003275,0.000000
25%,20.290000,26.642083,0.000000,542.312500,0.004196,0.000000
50%,20.790000,30.200000,0.000000,639.000000,0.004593,0.000000
75%,21.533333,32.700000,208.250000,831.125000,0.004998,0.000000
max,24.390000,39.500000,1581.000000,2076.500000,0.005769,1.000000

In [44]:
def plot_x_y_data(training_data, test_data, column, plot_all_features = False):   
    
    if not plot_all_features:
        fig, ax = plt.subplots(2, 1, figsize=(12,8), sharex=True)
        fig.tight_layout(pad=3.0) 
        
        training_data[column].plot(ax=ax[0])
        training_data["Occupancy"].plot(ax=ax[1])
        test_data[column].plot(ax=ax[0], color='orange')
        test_data["Occupancy"].plot(ax=ax[1], color='orange')
        
        ax[0].title.set_text(f"Train/Test features: {column}")
        ax[1].title.set_text("Train/Test label: Occupancy")
    else:
        num_of_features = len(training_data.columns)
        fig, ax = plt.subplots(num_of_features, 1, figsize=(12,8), sharex=True)
        fig.tight_layout(pad=3.0) 

        for i, column in enumerate(training_data.columns):
            training_data[column].plot(ax=ax[i])
            test_data[column].plot(ax=ax[i], color='orange')
            if column == "Occupancy":
                ax[i].title.set_text(f"Train/Test label: {column}")
            else:
                ax[i].title.set_text(f"Train/Test features: {column}")

In [45]:
interact(plot_x_y_data, training_data=fixed(training_df), test_data=fixed(test_df), 
         column=list(df.columns), plot_all_features=False)

interactive(children=(Dropdown(description='column', options=('Temperature', 'Humidity', 'Light', 'CO2', 'Humi…